<div class="container">
  <form role="form" ng-submit="addSong()">
    <div class="row">
      <div class="input group">
        <input type="text" ng-model="uri" placeholder="Spotify URI" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Add">
        </span>
      </div>
    </div>
  </form>
  <h2>Candidate songs</h2>
  <ul class="media-list">
    <li class="media" ng-repeat="song in songs">
      <a class="media-left">
        <img src="images/Spotify.png">
      </a>
      <div class="media-body">
        <h4 class="media-heading">{{song.title}}</h4>
        <p>{{song.artist}}</p>
      </div>
    </li>
  </ul>
</div>
